.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 74px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #ff2121 !important;
  }
  
  .Button:active {
    background-color: #ff2121 !important;
  }
  
  .Button:focus {
    background-color: #ff2121;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #ff2121;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #ff2121;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #ff2121;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    border: 1px solid rgb(134, 245, 255);
    background-color: rgb(134, 245, 255);
    color: #000000;
  }
  
  .Bright {
    background-color: #4afff9;
    color: #21ffda;
  }