.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 74px;
  transition: background-color 0.2s;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:active {
  background-color: #ff2121 !important;
}

.Button:focus {
  background-color: #ff2121;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none !important; 
}
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #ff2121;
  }
  
  .Black {
    background-color: #ff2121;
    color: aliceblue;
    outline: none;
  }
  
  .Black:hover {
    border: 1px solid rgb(22, 77, 83);
    background-color: rgb(22, 77, 83);
    color: #ffffff;
    outline: none;
  }
