.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ff2121;
  }
  
  .Heart:hover {
    color: #ff2121; /* Color on hover */
  }
  
  .HeartOutline:hover {
    color: #ff2121; /* Color on hover when the post hasn't been liked */
  }

  .ThumbsDown {
    color: #000000; /* Color when the post is disliked by the user */
  }

  .ThumbsDown:hover {
      color: #ff2121; /* Color on hover */
  }

  .ThumbsDownOutline:hover {
      color: #ff2121; /* Color on hover when the post hasn't been disliked */
  }

  /* Bookmark.module.css */
.Bookmark {
  color: gold; /* Color when the post is bookmarked */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.BookmarkOutline {
  color: grey; /* Color when the post is not bookmarked */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.Bookmark:hover,
.BookmarkOutline:hover {
  color: rgb(213, 156, 12); /* Color on hover */
}
