.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ff9a88; 
  }
  
  .Heart:hover {
    color: #ff2121; /* Color on hover */
  }
  
  .HeartOutline:hover {
    color: #ff2121; /* Color on hover when the post hasn't been liked */
  }

  .ThumbsDown {
    color: #000000; /* Color when the post is disliked by the user */
  }

  .ThumbsDown:hover {
      color: #ff2121; /* Color on hover */
  }

  .ThumbsDownOutline:hover {
      color: #ff2121; /* Color on hover when the post hasn't been disliked */
  }
